@import '../../htmd/styles/code.css';

/* 允许代码块内的文本选择 */
.ai-message pre,
.ai-message code {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}