/* Base */
@import './base/variables.css';
@import './base/reset.css';

/* Utils */
@import './utils/animations.css';

/* Components */
@import './components/image-tag.css';
@import './components/settings.css';
@import './components/reasoning.css';
@import './components/chat-list.css';
@import './components/message.css';
@import './components/code.css';
@import './components/sidebar.css';
@import './components/context-menu.css';
@import './components/input.css';
@import './components/image-preview.css';
@import './components/api-settings.css';
@import './components/webpage-menu.css';
@import './components/chat-container.css';

@import '../htmd/styles/math.css';
@import '../htmd/styles/table.css';